Dump after hash based groups
Congruence classes: 41 with total: 41 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     41
Dump after WPA based types groups
Congruence classes: 41 with total: 41 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     41
Worklist has been filled with: 15
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 41 with total: 41 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     41
Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 41 with total: 41 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     41
Worklist has been filled with: 15
Address reference subdivision created: 0 new classes.
Congruence classes: 41 with total: 41 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     41

Item count: 41
Congruent classes before: 41, after: 41
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Totally needed symbols: 0, fraction of loaded symbols: 0.00%

vQueueUnregisterQueue.part.0 (struct QueueDefinition * xQueue)
{
  UBaseType_t ux;
  struct QueueDefinition * _2;

  <bb 7> [local count: 397250654]:
  goto <bb 5>; [100.00%]

  <bb 2> [local count: 715863673]:
  # DEBUG BEGIN_STMT
  _2 = xQueueRegistry[ux_1].xHandle;
  if (_2 == xQueue_3(D))
    goto <bb 3>; [5.50%]
  else
    goto <bb 4>; [94.50%]

  <bb 3> [local count: 39372502]:
  # ux_4 = PHI <ux_1(2)>
  # DEBUG BEGIN_STMT
  xQueueRegistry[ux_4].pcQueueName = 0B;
  # DEBUG BEGIN_STMT
  xQueueRegistry[ux_4].xHandle = 0B;
  # DEBUG BEGIN_STMT
  goto <bb 6>; [100.00%]

  <bb 4> [local count: 676491171]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ux_5 = ux_1 + 1;
  # DEBUG ux => ux_5

  <bb 5> [local count: 1073741824]:
  # ux_1 = PHI <ux_5(4), 0(7)>
  # DEBUG ux => ux_1
  # DEBUG BEGIN_STMT
  if (ux_1 != 2)
    goto <bb 2>; [66.67%]
  else
    goto <bb 6>; [33.33%]

  <bb 6> [local count: 397250654]:
  # DEBUG BEGIN_STMT
  return;

}


xQueueGenericReset.part.0 (struct QueueDefinition * xQueue, BaseType_t xNewQueue)
{
  BaseType_t xReturn;
  struct Queue_t * const pxQueue;
  int8_t * _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  int8_t * _6;
  long unsigned int _7;
  long unsigned int _8;
  int8_t * _9;
  long unsigned int _11;
  struct List_t * _12;
  long int _13;
  struct List_t * _14;
  struct List_t * _15;

  <bb 8> [local count: 1073741824]:

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _2 = MEM[(struct Queue_t *)xQueue_1(D)].pcHead;
  _3 = MEM[(struct Queue_t *)xQueue_1(D)].uxLength;
  _4 = MEM[(struct Queue_t *)xQueue_1(D)].uxItemSize;
  _5 = _3 * _4;
  _6 = _2 + _5;
  MEM[(struct Queue_t *)xQueue_1(D)].u.xQueue.pcTail = _6;
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_1(D)].uxMessagesWaiting ={v} 0;
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_1(D)].pcWriteTo = _2;
  # DEBUG BEGIN_STMT
  _7 = _3 + 4294967295;
  _8 = _4 * _7;
  _9 = _2 + _8;
  MEM[(struct Queue_t *)xQueue_1(D)].u.xQueue.pcReadFrom = _9;
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_1(D)].cRxLock ={v} -1;
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_1(D)].cTxLock ={v} -1;
  # DEBUG BEGIN_STMT
  if (xNewQueue_10(D) == 0)
    goto <bb 3>; [67.00%]
  else
    goto <bb 6>; [33.00%]

  <bb 3> [local count: 719407025]:
  # DEBUG BEGIN_STMT
  _11 = MEM[(struct Queue_t *)xQueue_1(D)].xTasksWaitingToSend.uxNumberOfItems;
  if (_11 != 0)
    goto <bb 4>; [33.00%]
  else
    goto <bb 7>; [67.00%]

  <bb 4> [local count: 237404317]:
  # DEBUG BEGIN_STMT
  _12 = &MEM[(struct Queue_t *)xQueue_1(D)].xTasksWaitingToSend;
  _13 = xTaskRemoveFromEventList (_12);
  if (_13 != 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 5> [local count: 118702158]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 354334800]:
  # DEBUG BEGIN_STMT
  _14 = &MEM[(struct Queue_t *)xQueue_1(D)].xTasksWaitingToSend;
  vListInitialise (_14);
  # DEBUG BEGIN_STMT
  _15 = &MEM[(struct Queue_t *)xQueue_1(D)].xTasksWaitingToReceive;
  vListInitialise (_15);

  <bb 7> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG xReturn => 1
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return 1;

}


vQueueWaitForMessageRestricted (struct QueueDefinition * xQueue, TickType_t xTicksToWait, const BaseType_t xWaitIndefinitely)
{
  signed char _1;
  signed char _2;
  long unsigned int _3;
  struct List_t * _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_8(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _1 ={v} MEM[(struct Queue_t *)xQueue_8(D)].cRxLock;
  if (_1 == -1)
    goto <bb 3>; [34.00%]
  else
    goto <bb 4>; [66.00%]

  <bb 3> [local count: 365072224]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_8(D)].cRxLock ={v} 0;

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _2 ={v} MEM[(struct Queue_t *)xQueue_8(D)].cTxLock;
  if (_2 == -1)
    goto <bb 5>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 5> [local count: 365072224]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_8(D)].cTxLock ={v} 0;

  <bb 6> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  _3 ={v} MEM[(struct Queue_t *)xQueue_8(D)].uxMessagesWaiting;
  if (_3 == 0)
    goto <bb 7>; [33.00%]
  else
    goto <bb 8>; [67.00%]

  <bb 7> [local count: 354334800]:
  # DEBUG BEGIN_STMT
  _4 = &MEM[(struct Queue_t *)xQueue_8(D)].xTasksWaitingToReceive;
  vTaskPlaceOnEventListRestricted (_4, xTicksToWait_14(D), xWaitIndefinitely_15(D));

  <bb 8> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_8(D));
  # DEBUG BEGIN_STMT
  return;

}


vQueueUnregisterQueue (struct QueueDefinition * xQueue)
{
  UBaseType_t ux;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_2(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 6> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # ux_1 = PHI <0(2)>
  vQueueUnregisterQueue.part.0 (xQueue_2(D));
  # DEBUG BEGIN_STMT
  return;

}


pcQueueGetName (struct QueueDefinition * xQueue)
{
  const char * pcReturn;
  UBaseType_t ux;
  struct QueueDefinition * _1;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pcReturn => 0B
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_5(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 10>; [70.00%]

  <bb 10> [local count: 24805919]:
  goto <bb 8>; [100.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 11> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 44701390]:
  # DEBUG BEGIN_STMT
  _1 = xQueueRegistry[ux_2].xHandle;
  if (_1 == xQueue_5(D))
    goto <bb 6>; [5.50%]
  else
    goto <bb 7>; [94.50%]

  <bb 6> [local count: 2458576]:
  # ux_4 = PHI <ux_2(5)>
  # DEBUG BEGIN_STMT
  pcReturn_8 = xQueueRegistry[ux_4].pcQueueName;
  # DEBUG pcReturn => pcReturn_8
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 7> [local count: 42242813]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ux_7 = ux_2 + 1;
  # DEBUG ux => ux_7

  <bb 8> [local count: 67048732]:
  # ux_2 = PHI <ux_7(7), 0(10)>
  # DEBUG ux => ux_2
  # DEBUG BEGIN_STMT
  if (ux_2 != 2)
    goto <bb 5>; [66.67%]
  else
    goto <bb 9>; [33.33%]

  <bb 9> [local count: 24805919]:
  # pcReturn_3 = PHI <pcReturn_8(6), 0B(8)>
  # DEBUG pcReturn => pcReturn_3
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return pcReturn_3;

}


vQueueAddToRegistry (struct QueueDefinition * xQueue, const char * pcQueueName)
{
  struct QueueRegistryItem_t * pxEntryToWrite;
  UBaseType_t ux;
  struct QueueDefinition * _1;
  const char * _2;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxEntryToWrite => 0B
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_9(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 17> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (pcQueueName_10(D) != 0B)
    goto <bb 16>; [70.00%]
  else
    goto <bb 15>; [30.00%]

  <bb 16> [local count: 17364143]:
  goto <bb 12>; [100.00%]

  <bb 6> [local count: 31290973]:
  # DEBUG BEGIN_STMT
  _1 = xQueueRegistry[ux_3].xHandle;
  if (_1 == xQueue_9(D))
    goto <bb 7>; [5.50%]
  else
    goto <bb 8>; [94.50%]

  <bb 7> [local count: 1721003]:
  # ux_8 = PHI <ux_3(6)>
  # DEBUG BEGIN_STMT
  pxEntryToWrite_14 = &xQueueRegistry[ux_8];
  # DEBUG pxEntryToWrite => pxEntryToWrite_14
  # DEBUG BEGIN_STMT
  goto <bb 13>; [100.00%]

  <bb 8> [local count: 29569969]:
  # DEBUG BEGIN_STMT
  if (pxEntryToWrite_5 == 0B)
    goto <bb 9>; [30.00%]
  else
    goto <bb 11>; [70.00%]

  <bb 9> [local count: 8870991]:
  _2 = xQueueRegistry[ux_3].pcQueueName;
  if (_2 == 0B)
    goto <bb 10>; [30.00%]
  else
    goto <bb 11>; [70.00%]

  <bb 10> [local count: 2661297]:
  # DEBUG BEGIN_STMT
  pxEntryToWrite_12 = &xQueueRegistry[ux_3];
  # DEBUG pxEntryToWrite => pxEntryToWrite_12

  <bb 11> [local count: 29569969]:
  # pxEntryToWrite_4 = PHI <pxEntryToWrite_5(8), 0B(9), pxEntryToWrite_12(10)>
  # DEBUG pxEntryToWrite => pxEntryToWrite_4
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  ux_13 = ux_3 + 1;
  # DEBUG ux => ux_13

  <bb 12> [local count: 46934113]:
  # ux_3 = PHI <ux_13(11), 0(16)>
  # pxEntryToWrite_5 = PHI <pxEntryToWrite_4(11), 0B(16)>
  # DEBUG pxEntryToWrite => pxEntryToWrite_5
  # DEBUG ux => ux_3
  # DEBUG BEGIN_STMT
  if (ux_3 != 2)
    goto <bb 6>; [66.67%]
  else
    goto <bb 13>; [33.33%]

  <bb 13> [local count: 17364143]:
  # pxEntryToWrite_6 = PHI <pxEntryToWrite_5(12), pxEntryToWrite_14(7)>
  # DEBUG pxEntryToWrite => pxEntryToWrite_6
  # DEBUG BEGIN_STMT
  if (pxEntryToWrite_6 != 0B)
    goto <bb 14>; [70.00%]
  else
    goto <bb 15>; [30.00%]

  <bb 14> [local count: 12154900]:
  # DEBUG BEGIN_STMT
  pxEntryToWrite_6->pcQueueName = pcQueueName_10(D);
  # DEBUG BEGIN_STMT
  pxEntryToWrite_6->xHandle = xQueue_9(D);

  <bb 15> [local count: 24805919]:
  # DEBUG pxEntryToWrite => NULL
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return;

}


xQueueIsQueueFullFromISR (struct QueueDefinition * const xQueue)
{
  BaseType_t xReturn;
  long unsigned int _1;
  long unsigned int _2;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_4(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_4(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 8> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 ={v} MEM[(struct Queue_t *)xQueue_4(D)].uxMessagesWaiting;
  _2 = MEM[(struct Queue_t *)xQueue_4(D)].uxLength;
  if (_1 == _2)
    goto <bb 7>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 6> [local count: 16371906]:
  # DEBUG BEGIN_STMT
  # DEBUG xReturn => 0

  <bb 7> [local count: 24805919]:
  # xReturn_3 = PHI <1(5), 0(6)>
  # DEBUG xReturn => xReturn_3
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xReturn_3;

}


prvIsQueueFull (const struct Queue_t * pxQueue)
{
  BaseType_t xReturn;
  long unsigned int _1;
  long unsigned int _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _1 ={v} pxQueue_6(D)->uxMessagesWaiting;
  _2 = pxQueue_6(D)->uxLength;
  if (_1 == _2)
    goto <bb 4>; [34.00%]
  else
    goto <bb 3>; [66.00%]

  <bb 3> [local count: 708669601]:
  # DEBUG BEGIN_STMT
  # DEBUG xReturn => 0

  <bb 4> [local count: 1073741824]:
  # xReturn_3 = PHI <1(2), 0(3)>
  # DEBUG xReturn => xReturn_3
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  return xReturn_3;

}


xQueueIsQueueEmptyFromISR (struct QueueDefinition * const xQueue)
{
  BaseType_t xReturn;
  long unsigned int _1;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_3(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_3(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 8> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 ={v} MEM[(struct Queue_t *)xQueue_3(D)].uxMessagesWaiting;
  if (_1 == 0)
    goto <bb 7>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 6> [local count: 12402960]:
  # DEBUG BEGIN_STMT
  # DEBUG xReturn => 0

  <bb 7> [local count: 24805919]:
  # xReturn_2 = PHI <1(5), 0(6)>
  # DEBUG xReturn => xReturn_2
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xReturn_2;

}


prvIsQueueEmpty (const struct Queue_t * pxQueue)
{
  BaseType_t xReturn;
  long unsigned int _1;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _1 ={v} pxQueue_5(D)->uxMessagesWaiting;
  if (_1 == 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 3>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG xReturn => 0

  <bb 4> [local count: 1073741824]:
  # xReturn_2 = PHI <1(2), 0(3)>
  # DEBUG xReturn => xReturn_2
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  return xReturn_2;

}


prvUnlockQueue (struct Queue_t * const pxQueue)
{
  int8_t cRxLock;
  int8_t cTxLock;
  long unsigned int _1;
  struct List_t * _2;
  long int _3;
  unsigned char cTxLock.6_4;
  unsigned char _5;
  long unsigned int _6;
  struct List_t * _7;
  long int _8;
  unsigned char cRxLock.7_9;
  unsigned char _10;

  <bb 2> [local count: 114863529]:
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  cTxLock_20 ={v} pxQueue_19(D)->cTxLock;
  # DEBUG cTxLock => cTxLock_20
  # DEBUG BEGIN_STMT
  goto <bb 7>; [100.00%]

  <bb 3> [local count: 1014686014]:
  # DEBUG BEGIN_STMT
  _1 = pxQueue_19(D)->xTasksWaitingToReceive.uxNumberOfItems;
  if (_1 != 0)
    goto <bb 4>; [94.50%]
  else
    goto <bb 8>; [5.50%]

  <bb 4> [local count: 958878284]:
  # DEBUG BEGIN_STMT
  _2 = &pxQueue_19(D)->xTasksWaitingToReceive;
  _3 = xTaskRemoveFromEventList (_2);
  if (_3 != 0)
    goto <bb 5>; [33.00%]
  else
    goto <bb 6>; [67.00%]

  <bb 5> [local count: 316429832]:
  # DEBUG BEGIN_STMT
  vTaskMissedYield ();

  <bb 6> [local count: 958878284]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  cTxLock.6_4 = (unsigned char) cTxLock_11;
  _5 = cTxLock.6_4 + 255;
  cTxLock_23 = (int8_t) _5;
  # DEBUG cTxLock => cTxLock_23

  <bb 7> [local count: 1073741813]:
  # cTxLock_11 = PHI <cTxLock_20(2), cTxLock_23(6)>
  # DEBUG cTxLock => cTxLock_11
  # DEBUG BEGIN_STMT
  if (cTxLock_11 > 0)
    goto <bb 3>; [94.50%]
  else
    goto <bb 8>; [5.50%]

  <bb 8> [local count: 114863530]:
  # DEBUG BEGIN_STMT
  pxQueue_19(D)->cTxLock ={v} -1;
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  cRxLock_27 ={v} pxQueue_19(D)->cRxLock;
  # DEBUG cRxLock => cRxLock_27
  # DEBUG BEGIN_STMT
  goto <bb 13>; [100.00%]

  <bb 9> [local count: 1014686024]:
  # DEBUG BEGIN_STMT
  _6 = pxQueue_19(D)->xTasksWaitingToSend.uxNumberOfItems;
  if (_6 != 0)
    goto <bb 10>; [94.50%]
  else
    goto <bb 14>; [5.50%]

  <bb 10> [local count: 958878293]:
  # DEBUG BEGIN_STMT
  _7 = &pxQueue_19(D)->xTasksWaitingToSend;
  _8 = xTaskRemoveFromEventList (_7);
  if (_8 != 0)
    goto <bb 11>; [33.00%]
  else
    goto <bb 12>; [67.00%]

  <bb 11> [local count: 316429835]:
  # DEBUG BEGIN_STMT
  vTaskMissedYield ();

  <bb 12> [local count: 958878293]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  cRxLock.7_9 = (unsigned char) cRxLock_12;
  _10 = cRxLock.7_9 + 255;
  cRxLock_30 = (int8_t) _10;
  # DEBUG cRxLock => cRxLock_30

  <bb 13> [local count: 1073741824]:
  # cRxLock_12 = PHI <cRxLock_27(8), cRxLock_30(12)>
  # DEBUG cRxLock => cRxLock_12
  # DEBUG BEGIN_STMT
  if (cRxLock_12 > 0)
    goto <bb 9>; [94.50%]
  else
    goto <bb 14>; [5.50%]

  <bb 14> [local count: 114863531]:
  # DEBUG BEGIN_STMT
  pxQueue_19(D)->cRxLock ={v} -1;
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  return;

}


prvCopyDataFromQueue (struct Queue_t * const pxQueue, void * const pvBuffer)
{
  long unsigned int _1;
  int8_t * _2;
  int8_t * _3;
  int8_t * _4;
  int8_t * _5;
  int8_t * _6;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = pxQueue_10(D)->uxItemSize;
  if (_1 != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _2 = pxQueue_10(D)->u.xQueue.pcReadFrom;
  _3 = _2 + _1;
  pxQueue_10(D)->u.xQueue.pcReadFrom = _3;
  # DEBUG BEGIN_STMT
  _4 = pxQueue_10(D)->u.xQueue.pcTail;
  if (_3 >= _4)
    goto <bb 4>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 4> [local count: 268435456]:
  # DEBUG BEGIN_STMT
  _5 = pxQueue_10(D)->pcHead;
  pxQueue_10(D)->u.xQueue.pcReadFrom = _5;

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _6 = pxQueue_10(D)->u.xQueue.pcReadFrom;
  memcpy (pvBuffer_13(D), _6, _1);

  <bb 6> [local count: 1073741824]:
  return;

}


prvCopyDataToQueue (struct Queue_t * const pxQueue, const void * pvItemToQueue, const BaseType_t xPosition)
{
  UBaseType_t uxMessagesWaiting;
  BaseType_t xReturn;
  long unsigned int _1;
  int8_t * _2;
  struct tskTaskControlBlock * _3;
  int8_t * _4;
  int8_t * _5;
  long unsigned int _6;
  int8_t * _7;
  int8_t * _8;
  int8_t * _9;
  int8_t * _10;
  int8_t * _11;
  long unsigned int _12;
  sizetype _13;
  int8_t * _14;
  int8_t * _15;
  int8_t * _16;
  int8_t * _17;
  long unsigned int _18;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG xReturn => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  uxMessagesWaiting_25 ={v} pxQueue_24(D)->uxMessagesWaiting;
  # DEBUG uxMessagesWaiting => uxMessagesWaiting_25
  # DEBUG BEGIN_STMT
  _1 = pxQueue_24(D)->uxItemSize;
  if (_1 == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 5>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _2 = pxQueue_24(D)->pcHead;
  if (_2 == 0B)
    goto <bb 4>; [17.43%]
  else
    goto <bb 13>; [82.57%]

  <bb 4> [local count: 93576600]:
  # DEBUG BEGIN_STMT
  _3 = pxQueue_24(D)->u.xSemaphore.xMutexHolder;
  xReturn_36 = xTaskPriorityDisinherit (_3);
  # DEBUG xReturn => xReturn_36
  # DEBUG BEGIN_STMT
  pxQueue_24(D)->u.xSemaphore.xMutexHolder = 0B;
  goto <bb 13>; [100.00%]

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  if (xPosition_26(D) == 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 6> [local count: 268435456]:
  # DEBUG BEGIN_STMT
  _4 = pxQueue_24(D)->pcWriteTo;
  memcpy (_4, pvItemToQueue_27(D), _1);
  # DEBUG BEGIN_STMT
  _5 = pxQueue_24(D)->pcWriteTo;
  _6 = pxQueue_24(D)->uxItemSize;
  _7 = _5 + _6;
  pxQueue_24(D)->pcWriteTo = _7;
  # DEBUG BEGIN_STMT
  _8 = pxQueue_24(D)->u.xQueue.pcTail;
  if (_7 >= _8)
    goto <bb 7>; [50.00%]
  else
    goto <bb 13>; [50.00%]

  <bb 7> [local count: 134217728]:
  # DEBUG BEGIN_STMT
  _9 = pxQueue_24(D)->pcHead;
  pxQueue_24(D)->pcWriteTo = _9;
  goto <bb 13>; [100.00%]

  <bb 8> [local count: 268435456]:
  # DEBUG BEGIN_STMT
  _10 = pxQueue_24(D)->u.xQueue.pcReadFrom;
  memcpy (_10, pvItemToQueue_27(D), _1);
  # DEBUG BEGIN_STMT
  _11 = pxQueue_24(D)->u.xQueue.pcReadFrom;
  _12 = pxQueue_24(D)->uxItemSize;
  _13 = -_12;
  _14 = _11 + _13;
  pxQueue_24(D)->u.xQueue.pcReadFrom = _14;
  # DEBUG BEGIN_STMT
  _15 = pxQueue_24(D)->pcHead;
  if (_14 < _15)
    goto <bb 9>; [50.00%]
  else
    goto <bb 10>; [50.00%]

  <bb 9> [local count: 134217728]:
  # DEBUG BEGIN_STMT
  _16 = pxQueue_24(D)->u.xQueue.pcTail;
  _17 = _16 + _13;
  pxQueue_24(D)->u.xQueue.pcReadFrom = _17;

  <bb 10> [local count: 268435456]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xPosition_26(D) == 2)
    goto <bb 11>; [34.00%]
  else
    goto <bb 13>; [66.00%]

  <bb 11> [local count: 91268056]:
  # DEBUG BEGIN_STMT
  if (uxMessagesWaiting_25 != 0)
    goto <bb 12>; [50.00%]
  else
    goto <bb 13>; [50.00%]

  <bb 12> [local count: 45634028]:
  # DEBUG BEGIN_STMT
  uxMessagesWaiting_31 = uxMessagesWaiting_25 + 4294967295;
  # DEBUG uxMessagesWaiting => uxMessagesWaiting_31

  <bb 13> [local count: 1073741824]:
  # xReturn_19 = PHI <xReturn_36(4), 0(7), 0(10), 0(12), 0(3), 0(6), 0(11)>
  # uxMessagesWaiting_20 = PHI <uxMessagesWaiting_25(4), uxMessagesWaiting_25(7), uxMessagesWaiting_25(10), uxMessagesWaiting_31(12), uxMessagesWaiting_25(3), uxMessagesWaiting_25(6), uxMessagesWaiting_25(11)>
  # DEBUG uxMessagesWaiting => uxMessagesWaiting_20
  # DEBUG xReturn => xReturn_19
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _18 = uxMessagesWaiting_20 + 1;
  pxQueue_24(D)->uxMessagesWaiting ={v} _18;
  # DEBUG BEGIN_STMT
  return xReturn_19;

}


prvGetDisinheritPriorityAfterTimeout (const struct Queue_t * const pxQueue)
{
  UBaseType_t uxHighestPriorityOfWaitingTasks;
  long unsigned int _1;
  struct xLIST_ITEM * _2;
  long unsigned int _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = pxQueue_6(D)->xTasksWaitingToReceive.uxNumberOfItems;
  if (_1 != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _2 = pxQueue_6(D)->xTasksWaitingToReceive.xListEnd.pxNext;
  _3 = _2->xItemValue;
  uxHighestPriorityOfWaitingTasks_7 = 10 - _3;
  # DEBUG uxHighestPriorityOfWaitingTasks => uxHighestPriorityOfWaitingTasks_7

  <bb 4> [local count: 1073741824]:
  # uxHighestPriorityOfWaitingTasks_4 = PHI <uxHighestPriorityOfWaitingTasks_7(3), 0(2)>
  # DEBUG uxHighestPriorityOfWaitingTasks => uxHighestPriorityOfWaitingTasks_4
  # DEBUG BEGIN_STMT
  return uxHighestPriorityOfWaitingTasks_4;

}


uxQueueGetQueueLength (struct QueueDefinition * xQueue)
{
  UBaseType_t _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = MEM[(struct Queue_t *)xQueue_2(D)].uxLength;
  return _3;

}


uxQueueGetQueueItemSize (struct QueueDefinition * xQueue)
{
  UBaseType_t _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = MEM[(struct Queue_t *)xQueue_2(D)].uxItemSize;
  return _3;

}


ucQueueGetQueueType (struct QueueDefinition * xQueue)
{
  uint8_t _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = MEM[(struct Queue_t *)xQueue_2(D)].ucQueueType;
  return _3;

}


vQueueSetQueueNumber (struct QueueDefinition * xQueue, UBaseType_t uxQueueNumber)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_2(D)].uxQueueNumber = uxQueueNumber_3(D);
  # DEBUG BEGIN_STMT
  return;

}


uxQueueGetQueueNumber (struct QueueDefinition * xQueue)
{
  UBaseType_t _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = MEM[(struct Queue_t *)xQueue_2(D)].uxQueueNumber;
  return _3;

}


vQueueDelete (struct QueueDefinition * xQueue)
{
  <bb 2> [local count: 22847857]:
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_1(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_1(D) == 0B)
    goto <bb 3>; [46.53%]
  else
    goto <bb 5>; [53.47%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 6> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 12216749]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vQueueUnregisterQueue (xQueue_1(D));
  # DEBUG BEGIN_STMT
  vPortFree (xQueue_1(D));
  # DEBUG BEGIN_STMT
  return;

}


uxQueueMessagesWaitingFromISR (struct QueueDefinition * const xQueue)
{
  UBaseType_t uxReturn;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_1(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_1(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 6> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  uxReturn_3 ={v} MEM[(struct Queue_t *)xQueue_1(D)].uxMessagesWaiting;
  # DEBUG uxReturn => uxReturn_3
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return uxReturn_3;

}


uxQueueSpacesAvailable (struct QueueDefinition * const xQueue)
{
  UBaseType_t uxReturn;
  long unsigned int _1;
  long unsigned int _2;

  <bb 2> [local count: 22847857]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_3(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_3(D) == 0B)
    goto <bb 3>; [46.53%]
  else
    goto <bb 5>; [53.47%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 6> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 12216749]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct Queue_t *)xQueue_3(D)].uxLength;
  _2 ={v} MEM[(struct Queue_t *)xQueue_3(D)].uxMessagesWaiting;
  uxReturn_6 = _1 - _2;
  # DEBUG uxReturn => uxReturn_6
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return uxReturn_6;

}


uxQueueMessagesWaiting (struct QueueDefinition * const xQueue)
{
  UBaseType_t uxReturn;

  <bb 2> [local count: 22847857]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_1(D) == 0B)
    goto <bb 3>; [46.53%]
  else
    goto <bb 5>; [53.47%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 6> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 12216749]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  uxReturn_4 ={v} MEM[(struct Queue_t *)xQueue_1(D)].uxMessagesWaiting;
  # DEBUG uxReturn => uxReturn_4
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return uxReturn_4;

}


xQueuePeekFromISR (struct QueueDefinition * xQueue, void * const pvBuffer)
{
  uint32_t ulOriginalBASEPRI;
  uint32_t ulNewBASEPRI;
  int8_t * pcOriginalReadPosition;
  BaseType_t xReturn;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;

  <bb 2> [local count: 26667774]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_6(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_6(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 8000332]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 808033467]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 15> [local count: 808033467]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 18667442]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (pvBuffer_7(D) != 0B)
    goto <bb 9>; [70.00%]
  else
    goto <bb 6>; [30.00%]

  <bb 6> [local count: 5600232]:
  _1 = MEM[(struct Queue_t *)xQueue_6(D)].uxItemSize;
  if (_1 == 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 2800116]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 8> [local count: 282811714]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 17> [local count: 282811714]:
  goto <bb 8>; [100.00%]

  <bb 9> [local count: 15867325]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _2 = MEM[(struct Queue_t *)xQueue_6(D)].uxItemSize;
  if (_2 == 0)
    goto <bb 10>; [67.00%]
  else
    goto <bb 12>; [33.00%]

  <bb 10> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 11> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 16> [local count: 1073741824]:
  goto <bb 11>; [100.00%]

  <bb 12> [local count: 5236217]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortValidateInterruptPriority ();
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY ulPortRaiseBASEPRI
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("   mrs %0, basepri                                         
   mov %1, %2                                              
   cpsid i                                                 
   msr basepri, %1                                         
   isb                                                     
   dsb                                                     
   cpsie i                                                 
" : "=r" ulOriginalBASEPRI_16, "=r" ulNewBASEPRI_17 : "i" 16 : "memory");
  # DEBUG ulNewBASEPRI => ulNewBASEPRI_17
  # DEBUG ulOriginalBASEPRI => ulOriginalBASEPRI_16
  # DEBUG BEGIN_STMT
  # DEBUG ulNewBASEPRI => NULL
  # DEBUG ulOriginalBASEPRI => NULL
  # DEBUG uxSavedInterruptStatus => ulOriginalBASEPRI_16
  # DEBUG BEGIN_STMT
  _3 ={v} MEM[(struct Queue_t *)xQueue_6(D)].uxMessagesWaiting;
  if (_3 != 0)
    goto <bb 13>; [33.00%]
  else
    goto <bb 14>; [67.00%]

  <bb 13> [local count: 1727952]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pcOriginalReadPosition_10 = MEM[(struct Queue_t *)xQueue_6(D)].u.xQueue.pcReadFrom;
  # DEBUG pcOriginalReadPosition => pcOriginalReadPosition_10
  # DEBUG BEGIN_STMT
  prvCopyDataFromQueue (xQueue_6(D), pvBuffer_7(D));
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_6(D)].u.xQueue.pcReadFrom = pcOriginalReadPosition_10;
  # DEBUG BEGIN_STMT
  # DEBUG xReturn => 1

  <bb 14> [local count: 5236217]:
  # xReturn_4 = PHI <1(13), 0(12)>
  # DEBUG xReturn => xReturn_4
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ulNewMaskValue => ulOriginalBASEPRI_16
  # DEBUG INLINE_ENTRY vPortSetBASEPRI
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("   msr basepri, %0 " :  : "r" ulOriginalBASEPRI_16 : "memory");
  # DEBUG ulNewMaskValue => NULL
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xReturn_4;

}


xQueueReceiveFromISR (struct QueueDefinition * xQueue, void * const pvBuffer, BaseType_t * const pxHigherPriorityTaskWoken)
{
  uint32_t ulOriginalBASEPRI;
  uint32_t ulNewBASEPRI;
  const UBaseType_t uxNumberOfTasks;
  const int8_t cRxLock;
  const UBaseType_t uxMessagesWaiting;
  BaseType_t xReturn;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  struct List_t * _4;
  long int _5;
  long unsigned int _6;
  unsigned char cRxLock.28_7;
  unsigned char _8;
  signed char _9;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_12(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_12(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 22> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (pvBuffer_13(D) != 0B)
    goto <bb 9>; [53.47%]
  else
    goto <bb 6>; [46.53%]

  <bb 6> [local count: 11542194]:
  _1 = MEM[(struct Queue_t *)xQueue_12(D)].uxItemSize;
  if (_1 == 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 5771097]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 8> [local count: 582880760]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 24> [local count: 582880760]:
  goto <bb 8>; [100.00%]

  <bb 9> [local count: 19034822]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortValidateInterruptPriority ();
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY ulPortRaiseBASEPRI
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("   mrs %0, basepri                                         
   mov %1, %2                                              
   cpsid i                                                 
   msr basepri, %1                                         
   isb                                                     
   dsb                                                     
   cpsie i                                                 
" : "=r" ulOriginalBASEPRI_29, "=r" ulNewBASEPRI_30 : "i" 16 : "memory");
  # DEBUG ulNewBASEPRI => ulNewBASEPRI_30
  # DEBUG ulOriginalBASEPRI => ulOriginalBASEPRI_29
  # DEBUG BEGIN_STMT
  # DEBUG ulNewBASEPRI => NULL
  # DEBUG ulOriginalBASEPRI => NULL
  # DEBUG uxSavedInterruptStatus => ulOriginalBASEPRI_29
  # DEBUG BEGIN_STMT
  uxMessagesWaiting_16 ={v} MEM[(struct Queue_t *)xQueue_12(D)].uxMessagesWaiting;
  # DEBUG uxMessagesWaiting => uxMessagesWaiting_16
  # DEBUG BEGIN_STMT
  if (uxMessagesWaiting_16 != 0)
    goto <bb 10>; [33.00%]
  else
    goto <bb 21>; [67.00%]

  <bb 10> [local count: 6281491]:
  # DEBUG BEGIN_STMT
  cRxLock_17 ={v} MEM[(struct Queue_t *)xQueue_12(D)].cRxLock;
  # DEBUG cRxLock => cRxLock_17
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  prvCopyDataFromQueue (xQueue_12(D), pvBuffer_13(D));
  # DEBUG BEGIN_STMT
  _2 = uxMessagesWaiting_16 + 4294967295;
  MEM[(struct Queue_t *)xQueue_12(D)].uxMessagesWaiting ={v} _2;
  # DEBUG BEGIN_STMT
  if (cRxLock_17 == -1)
    goto <bb 11>; [51.12%]
  else
    goto <bb 15>; [48.88%]

  <bb 11> [local count: 3211098]:
  # DEBUG BEGIN_STMT
  _3 = MEM[(struct Queue_t *)xQueue_12(D)].xTasksWaitingToSend.uxNumberOfItems;
  if (_3 != 0)
    goto <bb 12>; [33.00%]
  else
    goto <bb 21>; [67.00%]

  <bb 12> [local count: 1059662]:
  # DEBUG BEGIN_STMT
  _4 = &MEM[(struct Queue_t *)xQueue_12(D)].xTasksWaitingToSend;
  _5 = xTaskRemoveFromEventList (_4);
  if (_5 != 0)
    goto <bb 13>; [50.00%]
  else
    goto <bb 21>; [50.00%]

  <bb 13> [local count: 529831]:
  # DEBUG BEGIN_STMT
  if (pxHigherPriorityTaskWoken_25(D) != 0B)
    goto <bb 14>; [70.00%]
  else
    goto <bb 21>; [30.00%]

  <bb 14> [local count: 370882]:
  # DEBUG BEGIN_STMT
  *pxHigherPriorityTaskWoken_25(D) = 1;
  goto <bb 21>; [100.00%]

  <bb 15> [local count: 3070393]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  uxNumberOfTasks_21 = uxTaskGetNumberOfTasks ();
  # DEBUG uxNumberOfTasks => uxNumberOfTasks_21
  # DEBUG BEGIN_STMT
  _6 = (long unsigned int) cRxLock_17;
  if (_6 < uxNumberOfTasks_21)
    goto <bb 16>; [50.00%]
  else
    goto <bb 21>; [50.00%]

  <bb 16> [local count: 1535196]:
  # DEBUG BEGIN_STMT
  if (cRxLock_17 == 127)
    goto <bb 17>; [34.00%]
  else
    goto <bb 19>; [66.00%]

  <bb 17> [local count: 521967]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 18> [local count: 52718642]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 23> [local count: 52718642]:
  goto <bb 18>; [100.00%]

  <bb 19> [local count: 1013230]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  cRxLock.28_7 = (unsigned char) cRxLock_17;
  _8 = cRxLock.28_7 + 1;
  _9 = (signed char) _8;
  MEM[(struct Queue_t *)xQueue_12(D)].cRxLock ={v} _9;

  <bb 21> [local count: 18512855]:
  # xReturn_10 = PHI <1(15), 0(9), 1(14), 1(12), 1(13), 1(11), 1(19)>
  # DEBUG xReturn => xReturn_10
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG ulNewMaskValue => ulOriginalBASEPRI_29
  # DEBUG INLINE_ENTRY vPortSetBASEPRI
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("   msr basepri, %0 " :  : "r" ulOriginalBASEPRI_29 : "memory");
  # DEBUG ulNewMaskValue => NULL
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xReturn_10;

}


xQueuePeek (struct QueueDefinition * xQueue, void * const pvBuffer, TickType_t xTicksToWait)
{
  const UBaseType_t uxMessagesWaiting;
  int8_t * pcOriginalReadPosition;
  struct TimeOut_t xTimeOut;
  BaseType_t xEntryTimeSet;
  long unsigned int _1;
  long int _2;
  long unsigned int xTicksToWait.24_3;
  long unsigned int _4;
  struct List_t * _5;
  long int _6;
  long unsigned int xTicksToWait.25_7;
  signed char _8;
  signed char _9;
  long int _10;
  long int _11;
  struct List_t * _12;
  long unsigned int xTicksToWait.26_13;
  long int _14;
  long int _15;
  BaseType_t _18;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG xEntryTimeSet => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_26(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_26(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 35> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (pvBuffer_27(D) != 0B)
    goto <bb 9>; [53.47%]
  else
    goto <bb 6>; [46.53%]

  <bb 6> [local count: 11542194]:
  _1 = MEM[(struct Queue_t *)xQueue_26(D)].uxItemSize;
  if (_1 == 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 5771097]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 8> [local count: 582880760]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 37> [local count: 582880760]:
  goto <bb 8>; [100.00%]

  <bb 9> [local count: 19034822]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _2 = xTaskGetSchedulerState ();
  if (_2 != 0)
    goto <bb 10>; [50.00%]
  else
    goto <bb 11>; [50.00%]

  <bb 10> [local count: 14276116]:
  # xEntryTimeSet_30 = PHI <0(9), 0(11)>
  goto <bb 15>; [100.00%]

  <bb 11> [local count: 9517411]:
  xTicksToWait.24_3 = xTicksToWait;
  if (xTicksToWait.24_3 == 0)
    goto <bb 10>; [50.00%]
  else
    goto <bb 12>; [50.00%]

  <bb 12> [local count: 4758705]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 13> [local count: 480629216]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 36> [local count: 480629216]:
  goto <bb 13>; [100.00%]

  <bb 14> [local count: 146408819]:
  # xEntryTimeSet_44 = PHI <xEntryTimeSet_17(33), xEntryTimeSet_17(32), xEntryTimeSet_17(31), xEntryTimeSet_17(30)>

  <bb 15> [local count: 160684935]:
  # xEntryTimeSet_16 = PHI <xEntryTimeSet_30(10), xEntryTimeSet_44(14)>
  # DEBUG xEntryTimeSet => xEntryTimeSet_16
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  uxMessagesWaiting_32 ={v} MEM[(struct Queue_t *)xQueue_26(D)].uxMessagesWaiting;
  # DEBUG uxMessagesWaiting => uxMessagesWaiting_32
  # DEBUG BEGIN_STMT
  if (uxMessagesWaiting_32 != 0)
    goto <bb 16>; [3.66%]
  else
    goto <bb 20>; [96.34%]

  <bb 16> [local count: 5881069]:
  # DEBUG BEGIN_STMT
  pcOriginalReadPosition_55 = MEM[(struct Queue_t *)xQueue_26(D)].u.xQueue.pcReadFrom;
  # DEBUG pcOriginalReadPosition => pcOriginalReadPosition_55
  # DEBUG BEGIN_STMT
  prvCopyDataFromQueue (xQueue_26(D), pvBuffer_27(D));
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_26(D)].u.xQueue.pcReadFrom = pcOriginalReadPosition_55;
  # DEBUG BEGIN_STMT
  _4 = MEM[(struct Queue_t *)xQueue_26(D)].xTasksWaitingToReceive.uxNumberOfItems;
  if (_4 != 0)
    goto <bb 17>; [33.00%]
  else
    goto <bb 19>; [67.00%]

  <bb 17> [local count: 1940753]:
  # DEBUG BEGIN_STMT
  _5 = &MEM[(struct Queue_t *)xQueue_26(D)].xTasksWaitingToReceive;
  _6 = xTaskRemoveFromEventList (_5);
  if (_6 != 0)
    goto <bb 18>; [50.00%]
  else
    goto <bb 19>; [50.00%]

  <bb 18> [local count: 970376]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT

  <bb 19> [local count: 5881069]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 34>; [100.00%]

  <bb 20> [local count: 154803866]:
  # DEBUG BEGIN_STMT
  xTicksToWait.25_7 = xTicksToWait;
  if (xTicksToWait.25_7 == 0)
    goto <bb 21>; [3.66%]
  else
    goto <bb 22>; [96.34%]

  <bb 21> [local count: 5665822]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 34>; [100.00%]

  <bb 22> [local count: 149138045]:
  # DEBUG BEGIN_STMT
  if (xEntryTimeSet_16 == 0)
    goto <bb 23>; [33.00%]
  else
    goto <bb 24>; [67.00%]

  <bb 23> [local count: 49215554]:
  # DEBUG BEGIN_STMT
  vTaskInternalSetTimeOutState (&xTimeOut);
  # DEBUG BEGIN_STMT
  # DEBUG xEntryTimeSet => 1

  <bb 24> [local count: 149138045]:
  # xEntryTimeSet_17 = PHI <xEntryTimeSet_16(22), 1(23)>
  # DEBUG xEntryTimeSet => xEntryTimeSet_17
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  vTaskSuspendAll ();
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _8 ={v} MEM[(struct Queue_t *)xQueue_26(D)].cRxLock;
  if (_8 == -1)
    goto <bb 25>; [34.00%]
  else
    goto <bb 26>; [66.00%]

  <bb 25> [local count: 50706936]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_26(D)].cRxLock ={v} 0;

  <bb 26> [local count: 149138045]:
  # DEBUG BEGIN_STMT
  _9 ={v} MEM[(struct Queue_t *)xQueue_26(D)].cTxLock;
  if (_9 == -1)
    goto <bb 27>; [34.00%]
  else
    goto <bb 28>; [66.00%]

  <bb 27> [local count: 50706936]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_26(D)].cTxLock ={v} 0;

  <bb 28> [local count: 149138045]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  _10 = xTaskCheckForTimeOut (&xTimeOut, &xTicksToWait);
  if (_10 == 0)
    goto <bb 29>; [50.00%]
  else
    goto <bb 33>; [50.00%]

  <bb 29> [local count: 74569022]:
  # DEBUG BEGIN_STMT
  _11 = prvIsQueueEmpty (xQueue_26(D));
  if (_11 != 0)
    goto <bb 30>; [50.00%]
  else
    goto <bb 32>; [50.00%]

  <bb 30> [local count: 37284511]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _12 = &MEM[(struct Queue_t *)xQueue_26(D)].xTasksWaitingToReceive;
  xTicksToWait.26_13 = xTicksToWait;
  vTaskPlaceOnEventList (_12, xTicksToWait.26_13);
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_26(D));
  # DEBUG BEGIN_STMT
  _14 = xTaskResumeAll ();
  if (_14 == 0)
    goto <bb 31>; [50.00%]
  else
    goto <bb 14>; [50.00%]

  <bb 31> [local count: 18642256]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT
  goto <bb 14>; [100.00%]

  <bb 32> [local count: 37284511]:
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_26(D));
  # DEBUG BEGIN_STMT
  xTaskResumeAll ();
  goto <bb 14>; [100.00%]

  <bb 33> [local count: 74569022]:
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_26(D));
  # DEBUG BEGIN_STMT
  xTaskResumeAll ();
  # DEBUG BEGIN_STMT
  _15 = prvIsQueueEmpty (xQueue_26(D));
  if (_15 != 0)
    goto <bb 34>; [3.66%]
  else
    goto <bb 14>; [96.34%]

  <bb 34> [local count: 14276117]:
  # _18 = PHI <1(19), 0(21), 0(33)>
  xTimeOut ={v} {CLOBBER};
  return _18;

}


xQueueSemaphoreTake (struct QueueDefinition * xQueue, TickType_t xTicksToWait)
{
  UBaseType_t uxHighestWaitingPriority;
  const UBaseType_t uxSemaphoreCount;
  BaseType_t xInheritanceOccurred;
  struct TimeOut_t xTimeOut;
  BaseType_t xEntryTimeSet;
  long unsigned int _1;
  long int _2;
  long unsigned int xTicksToWait.19_3;
  long unsigned int _4;
  int8_t * _5;
  struct tskTaskControlBlock * _6;
  long unsigned int _7;
  struct List_t * _8;
  long int _9;
  long unsigned int xTicksToWait.20_10;
  signed char _11;
  signed char _12;
  long int _13;
  long int _14;
  int8_t * _15;
  struct tskTaskControlBlock * _16;
  struct List_t * _17;
  long unsigned int xTicksToWait.21_18;
  long int _19;
  long int _20;
  struct tskTaskControlBlock * _21;
  BaseType_t _27;

  <bb 2> [local count: 22667608]:
  # DEBUG BEGIN_STMT
  # DEBUG xEntryTimeSet => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_38(D)
  # DEBUG BEGIN_STMT
  # DEBUG xInheritanceOccurred => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_38(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 6800282]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 686828449]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 41> [local count: 686828449]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 15867325]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct Queue_t *)xQueue_38(D)].uxItemSize;
  if (_1 != 0)
    goto <bb 6>; [67.00%]
  else
    goto <bb 8>; [33.00%]

  <bb 6> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 7> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 42> [local count: 1073741824]:
  goto <bb 7>; [100.00%]

  <bb 8> [local count: 5236217]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _2 = xTaskGetSchedulerState ();
  if (_2 != 0)
    goto <bb 10>; [50.00%]
  else
    goto <bb 9>; [50.00%]

  <bb 9> [local count: 2618109]:
  xTicksToWait.19_3 = xTicksToWait;
  if (xTicksToWait.19_3 == 0)
    goto <bb 10>; [50.00%]
  else
    goto <bb 11>; [50.00%]

  <bb 10> [local count: 3927163]:
  # xEntryTimeSet_40 = PHI <0(9), 0(8)>
  # xInheritanceOccurred_26 = PHI <0(9), 0(8)>
  goto <bb 14>; [100.00%]

  <bb 11> [local count: 1309054]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 12> [local count: 132214477]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 43> [local count: 132214477]:
  goto <bb 12>; [100.00%]

  <bb 13> [local count: 40275049]:
  # xEntryTimeSet_48 = PHI <xEntryTimeSet_23(36), xEntryTimeSet_23(35), xEntryTimeSet_23(34), xEntryTimeSet_23(33)>
  # xInheritanceOccurred_39 = PHI <xInheritanceOccurred_24(36), xInheritanceOccurred_24(35), xInheritanceOccurred_25(34), xInheritanceOccurred_25(33)>

  <bb 14> [local count: 44202212]:
  # xEntryTimeSet_22 = PHI <xEntryTimeSet_40(10), xEntryTimeSet_48(13)>
  # xInheritanceOccurred_24 = PHI <xInheritanceOccurred_26(10), xInheritanceOccurred_39(13)>
  # DEBUG xInheritanceOccurred => xInheritanceOccurred_24
  # DEBUG xEntryTimeSet => xEntryTimeSet_22
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  uxSemaphoreCount_46 ={v} MEM[(struct Queue_t *)xQueue_38(D)].uxMessagesWaiting;
  # DEBUG uxSemaphoreCount => uxSemaphoreCount_46
  # DEBUG BEGIN_STMT
  if (uxSemaphoreCount_46 != 0)
    goto <bb 15>; [3.66%]
  else
    goto <bb 21>; [96.34%]

  <bb 15> [local count: 1617801]:
  # uxSemaphoreCount_44 = PHI <uxSemaphoreCount_46(14)>
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _4 = uxSemaphoreCount_44 + 4294967295;
  MEM[(struct Queue_t *)xQueue_38(D)].uxMessagesWaiting ={v} _4;
  # DEBUG BEGIN_STMT
  _5 = MEM[(struct Queue_t *)xQueue_38(D)].pcHead;
  if (_5 == 0B)
    goto <bb 16>; [17.43%]
  else
    goto <bb 17>; [82.57%]

  <bb 16> [local count: 281983]:
  # DEBUG BEGIN_STMT
  _6 = pvTaskIncrementMutexHeldCount ();
  MEM[(struct Queue_t *)xQueue_38(D)].u.xSemaphore.xMutexHolder = _6;

  <bb 17> [local count: 1617801]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _7 = MEM[(struct Queue_t *)xQueue_38(D)].xTasksWaitingToSend.uxNumberOfItems;
  if (_7 != 0)
    goto <bb 18>; [33.00%]
  else
    goto <bb 20>; [67.00%]

  <bb 18> [local count: 533874]:
  # DEBUG BEGIN_STMT
  _8 = &MEM[(struct Queue_t *)xQueue_38(D)].xTasksWaitingToSend;
  _9 = xTaskRemoveFromEventList (_8);
  if (_9 != 0)
    goto <bb 19>; [50.00%]
  else
    goto <bb 20>; [50.00%]

  <bb 19> [local count: 266937]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT

  <bb 20> [local count: 1617801]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 40>; [100.00%]

  <bb 21> [local count: 42584411]:
  # DEBUG BEGIN_STMT
  xTicksToWait.20_10 = xTicksToWait;
  if (xTicksToWait.20_10 == 0)
    goto <bb 22>; [3.66%]
  else
    goto <bb 23>; [96.34%]

  <bb 22> [local count: 1558590]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 40>; [100.00%]

  <bb 23> [local count: 41025822]:
  # DEBUG BEGIN_STMT
  if (xEntryTimeSet_22 == 0)
    goto <bb 24>; [33.00%]
  else
    goto <bb 25>; [67.00%]

  <bb 24> [local count: 13538521]:
  # DEBUG BEGIN_STMT
  vTaskInternalSetTimeOutState (&xTimeOut);
  # DEBUG BEGIN_STMT
  # DEBUG xEntryTimeSet => 1

  <bb 25> [local count: 41025822]:
  # xEntryTimeSet_23 = PHI <xEntryTimeSet_22(23), 1(24)>
  # DEBUG xEntryTimeSet => xEntryTimeSet_23
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  vTaskSuspendAll ();
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _11 ={v} MEM[(struct Queue_t *)xQueue_38(D)].cRxLock;
  if (_11 == -1)
    goto <bb 26>; [34.00%]
  else
    goto <bb 27>; [66.00%]

  <bb 26> [local count: 13948780]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_38(D)].cRxLock ={v} 0;

  <bb 27> [local count: 41025822]:
  # DEBUG BEGIN_STMT
  _12 ={v} MEM[(struct Queue_t *)xQueue_38(D)].cTxLock;
  if (_12 == -1)
    goto <bb 28>; [34.00%]
  else
    goto <bb 29>; [66.00%]

  <bb 28> [local count: 13948780]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_38(D)].cTxLock ={v} 0;

  <bb 29> [local count: 41025822]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  _13 = xTaskCheckForTimeOut (&xTimeOut, &xTicksToWait);
  if (_13 == 0)
    goto <bb 30>; [50.00%]
  else
    goto <bb 36>; [50.00%]

  <bb 30> [local count: 20512911]:
  # DEBUG BEGIN_STMT
  _14 = prvIsQueueEmpty (xQueue_38(D));
  if (_14 != 0)
    goto <bb 31>; [67.00%]
  else
    goto <bb 35>; [33.00%]

  <bb 31> [local count: 13743650]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _15 = MEM[(struct Queue_t *)xQueue_38(D)].pcHead;
  if (_15 == 0B)
    goto <bb 32>; [17.43%]
  else
    goto <bb 33>; [82.57%]

  <bb 32> [local count: 2395518]:
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _16 = MEM[(struct Queue_t *)xQueue_38(D)].u.xSemaphore.xMutexHolder;
  xInheritanceOccurred_68 = xTaskPriorityInherit (_16);
  # DEBUG xInheritanceOccurred => xInheritanceOccurred_68
  # DEBUG BEGIN_STMT
  vPortExitCritical ();

  <bb 33> [local count: 13743650]:
  # xInheritanceOccurred_25 = PHI <xInheritanceOccurred_24(31), xInheritanceOccurred_68(32)>
  # DEBUG xInheritanceOccurred => xInheritanceOccurred_25
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _17 = &MEM[(struct Queue_t *)xQueue_38(D)].xTasksWaitingToReceive;
  xTicksToWait.21_18 = xTicksToWait;
  vTaskPlaceOnEventList (_17, xTicksToWait.21_18);
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_38(D));
  # DEBUG BEGIN_STMT
  _19 = xTaskResumeAll ();
  if (_19 == 0)
    goto <bb 34>; [50.00%]
  else
    goto <bb 13>; [50.00%]

  <bb 34> [local count: 6871825]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT
  goto <bb 13>; [100.00%]

  <bb 35> [local count: 6769261]:
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_38(D));
  # DEBUG BEGIN_STMT
  xTaskResumeAll ();
  goto <bb 13>; [100.00%]

  <bb 36> [local count: 20512911]:
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_38(D));
  # DEBUG BEGIN_STMT
  xTaskResumeAll ();
  # DEBUG BEGIN_STMT
  _20 = prvIsQueueEmpty (xQueue_38(D));
  if (_20 != 0)
    goto <bb 37>; [3.66%]
  else
    goto <bb 13>; [96.34%]

  <bb 37> [local count: 750773]:
  # xInheritanceOccurred_43 = PHI <xInheritanceOccurred_24(36)>
  # DEBUG BEGIN_STMT
  if (xInheritanceOccurred_43 != 0)
    goto <bb 38>; [33.00%]
  else
    goto <bb 39>; [67.00%]

  <bb 38> [local count: 247755]:
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  uxHighestWaitingPriority_60 = prvGetDisinheritPriorityAfterTimeout (xQueue_38(D));
  # DEBUG uxHighestWaitingPriority => uxHighestWaitingPriority_60
  # DEBUG BEGIN_STMT
  _21 = MEM[(struct Queue_t *)xQueue_38(D)].u.xSemaphore.xMutexHolder;
  vTaskPriorityDisinheritAfterTimeout (_21, uxHighestWaitingPriority_60);
  # DEBUG BEGIN_STMT
  vPortExitCritical ();

  <bb 39> [local count: 750773]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 40> [local count: 3927163]:
  # _27 = PHI <1(20), 0(22), 0(39)>
  xTimeOut ={v} {CLOBBER};
  return _27;

}


xQueueReceive (struct QueueDefinition * xQueue, void * const pvBuffer, TickType_t xTicksToWait)
{
  const UBaseType_t uxMessagesWaiting;
  struct TimeOut_t xTimeOut;
  BaseType_t xEntryTimeSet;
  long unsigned int _1;
  long int _2;
  long unsigned int xTicksToWait.15_3;
  long unsigned int _4;
  long unsigned int _5;
  struct List_t * _6;
  long int _7;
  long unsigned int xTicksToWait.16_8;
  signed char _9;
  signed char _10;
  long int _11;
  long int _12;
  struct List_t * _13;
  long unsigned int xTicksToWait.17_14;
  long int _15;
  long int _16;
  BaseType_t _19;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG xEntryTimeSet => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_27(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_27(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 35> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (pvBuffer_28(D) != 0B)
    goto <bb 9>; [53.47%]
  else
    goto <bb 6>; [46.53%]

  <bb 6> [local count: 11542194]:
  _1 = MEM[(struct Queue_t *)xQueue_27(D)].uxItemSize;
  if (_1 == 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 5771097]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 8> [local count: 582880760]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 37> [local count: 582880760]:
  goto <bb 8>; [100.00%]

  <bb 9> [local count: 19034822]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _2 = xTaskGetSchedulerState ();
  if (_2 != 0)
    goto <bb 10>; [50.00%]
  else
    goto <bb 11>; [50.00%]

  <bb 10> [local count: 14276116]:
  # xEntryTimeSet_32 = PHI <0(9), 0(11)>
  goto <bb 15>; [100.00%]

  <bb 11> [local count: 9517411]:
  xTicksToWait.15_3 = xTicksToWait;
  if (xTicksToWait.15_3 == 0)
    goto <bb 10>; [50.00%]
  else
    goto <bb 12>; [50.00%]

  <bb 12> [local count: 4758705]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 13> [local count: 480629216]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 36> [local count: 480629216]:
  goto <bb 13>; [100.00%]

  <bb 14> [local count: 146408819]:
  # xEntryTimeSet_46 = PHI <xEntryTimeSet_18(33), xEntryTimeSet_18(32), xEntryTimeSet_18(31), xEntryTimeSet_18(30)>

  <bb 15> [local count: 160684935]:
  # xEntryTimeSet_17 = PHI <xEntryTimeSet_32(10), xEntryTimeSet_46(14)>
  # DEBUG xEntryTimeSet => xEntryTimeSet_17
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  uxMessagesWaiting_34 ={v} MEM[(struct Queue_t *)xQueue_27(D)].uxMessagesWaiting;
  # DEBUG uxMessagesWaiting => uxMessagesWaiting_34
  # DEBUG BEGIN_STMT
  if (uxMessagesWaiting_34 != 0)
    goto <bb 16>; [3.66%]
  else
    goto <bb 20>; [96.34%]

  <bb 16> [local count: 5881069]:
  # uxMessagesWaiting_31 = PHI <uxMessagesWaiting_34(15)>
  # DEBUG BEGIN_STMT
  prvCopyDataFromQueue (xQueue_27(D), pvBuffer_28(D));
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _4 = uxMessagesWaiting_31 + 4294967295;
  MEM[(struct Queue_t *)xQueue_27(D)].uxMessagesWaiting ={v} _4;
  # DEBUG BEGIN_STMT
  _5 = MEM[(struct Queue_t *)xQueue_27(D)].xTasksWaitingToSend.uxNumberOfItems;
  if (_5 != 0)
    goto <bb 17>; [33.00%]
  else
    goto <bb 19>; [67.00%]

  <bb 17> [local count: 1940753]:
  # DEBUG BEGIN_STMT
  _6 = &MEM[(struct Queue_t *)xQueue_27(D)].xTasksWaitingToSend;
  _7 = xTaskRemoveFromEventList (_6);
  if (_7 != 0)
    goto <bb 18>; [50.00%]
  else
    goto <bb 19>; [50.00%]

  <bb 18> [local count: 970376]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT

  <bb 19> [local count: 5881069]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 34>; [100.00%]

  <bb 20> [local count: 154803866]:
  # DEBUG BEGIN_STMT
  xTicksToWait.16_8 = xTicksToWait;
  if (xTicksToWait.16_8 == 0)
    goto <bb 21>; [3.66%]
  else
    goto <bb 22>; [96.34%]

  <bb 21> [local count: 5665822]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 34>; [100.00%]

  <bb 22> [local count: 149138045]:
  # DEBUG BEGIN_STMT
  if (xEntryTimeSet_17 == 0)
    goto <bb 23>; [33.00%]
  else
    goto <bb 24>; [67.00%]

  <bb 23> [local count: 49215554]:
  # DEBUG BEGIN_STMT
  vTaskInternalSetTimeOutState (&xTimeOut);
  # DEBUG BEGIN_STMT
  # DEBUG xEntryTimeSet => 1

  <bb 24> [local count: 149138045]:
  # xEntryTimeSet_18 = PHI <xEntryTimeSet_17(22), 1(23)>
  # DEBUG xEntryTimeSet => xEntryTimeSet_18
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  vTaskSuspendAll ();
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _9 ={v} MEM[(struct Queue_t *)xQueue_27(D)].cRxLock;
  if (_9 == -1)
    goto <bb 25>; [34.00%]
  else
    goto <bb 26>; [66.00%]

  <bb 25> [local count: 50706936]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_27(D)].cRxLock ={v} 0;

  <bb 26> [local count: 149138045]:
  # DEBUG BEGIN_STMT
  _10 ={v} MEM[(struct Queue_t *)xQueue_27(D)].cTxLock;
  if (_10 == -1)
    goto <bb 27>; [34.00%]
  else
    goto <bb 28>; [66.00%]

  <bb 27> [local count: 50706936]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_27(D)].cTxLock ={v} 0;

  <bb 28> [local count: 149138045]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  _11 = xTaskCheckForTimeOut (&xTimeOut, &xTicksToWait);
  if (_11 == 0)
    goto <bb 29>; [50.00%]
  else
    goto <bb 33>; [50.00%]

  <bb 29> [local count: 74569022]:
  # DEBUG BEGIN_STMT
  _12 = prvIsQueueEmpty (xQueue_27(D));
  if (_12 != 0)
    goto <bb 30>; [50.00%]
  else
    goto <bb 32>; [50.00%]

  <bb 30> [local count: 37284511]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _13 = &MEM[(struct Queue_t *)xQueue_27(D)].xTasksWaitingToReceive;
  xTicksToWait.17_14 = xTicksToWait;
  vTaskPlaceOnEventList (_13, xTicksToWait.17_14);
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_27(D));
  # DEBUG BEGIN_STMT
  _15 = xTaskResumeAll ();
  if (_15 == 0)
    goto <bb 31>; [50.00%]
  else
    goto <bb 14>; [50.00%]

  <bb 31> [local count: 18642256]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT
  goto <bb 14>; [100.00%]

  <bb 32> [local count: 37284511]:
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_27(D));
  # DEBUG BEGIN_STMT
  xTaskResumeAll ();
  goto <bb 14>; [100.00%]

  <bb 33> [local count: 74569022]:
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_27(D));
  # DEBUG BEGIN_STMT
  xTaskResumeAll ();
  # DEBUG BEGIN_STMT
  _16 = prvIsQueueEmpty (xQueue_27(D));
  if (_16 != 0)
    goto <bb 34>; [3.66%]
  else
    goto <bb 14>; [96.34%]

  <bb 34> [local count: 14276117]:
  # _19 = PHI <1(19), 0(21), 0(33)>
  xTimeOut ={v} {CLOBBER};
  return _19;

}


xQueueGiveFromISR (struct QueueDefinition * xQueue, BaseType_t * const pxHigherPriorityTaskWoken)
{
  uint32_t ulOriginalBASEPRI;
  uint32_t ulNewBASEPRI;
  const UBaseType_t uxNumberOfTasks;
  const int8_t cTxLock;
  const UBaseType_t uxMessagesWaiting;
  BaseType_t xReturn;
  long unsigned int _1;
  int8_t * _2;
  struct tskTaskControlBlock * _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  struct List_t * _7;
  long int _8;
  long unsigned int _9;
  unsigned char cTxLock.12_10;
  unsigned char _11;
  signed char _12;

  <bb 2> [local count: 30374594]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_15(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_15(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 9112378]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 920350123]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 25> [local count: 920350123]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct Queue_t *)xQueue_15(D)].uxItemSize;
  if (_1 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 6> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 7> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 26> [local count: 1073741824]:
  goto <bb 7>; [100.00%]

  <bb 8> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _2 = MEM[(struct Queue_t *)xQueue_15(D)].pcHead;
  if (_2 != 0B)
    goto <bb 12>; [53.47%]
  else
    goto <bb 9>; [46.53%]

  <bb 9> [local count: 4946655]:
  _3 = MEM[(struct Queue_t *)xQueue_15(D)].u.xSemaphore.xMutexHolder;
  if (_3 == 0B)
    goto <bb 12>; [30.00%]
  else
    goto <bb 10>; [70.00%]

  <bb 10> [local count: 3462658]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 11> [local count: 349728452]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 28> [local count: 349728452]:
  goto <bb 11>; [100.00%]

  <bb 12> [local count: 7168450]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortValidateInterruptPriority ();
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY ulPortRaiseBASEPRI
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("   mrs %0, basepri                                         
   mov %1, %2                                              
   cpsid i                                                 
   msr basepri, %1                                         
   isb                                                     
   dsb                                                     
   cpsie i                                                 
" : "=r" ulOriginalBASEPRI_31, "=r" ulNewBASEPRI_32 : "i" 16 : "memory");
  # DEBUG ulNewBASEPRI => ulNewBASEPRI_32
  # DEBUG ulOriginalBASEPRI => ulOriginalBASEPRI_31
  # DEBUG BEGIN_STMT
  # DEBUG ulNewBASEPRI => NULL
  # DEBUG ulOriginalBASEPRI => NULL
  # DEBUG uxSavedInterruptStatus => ulOriginalBASEPRI_31
  # DEBUG BEGIN_STMT
  uxMessagesWaiting_18 ={v} MEM[(struct Queue_t *)xQueue_15(D)].uxMessagesWaiting;
  # DEBUG uxMessagesWaiting => uxMessagesWaiting_18
  # DEBUG BEGIN_STMT
  _4 = MEM[(struct Queue_t *)xQueue_15(D)].uxLength;
  if (_4 > uxMessagesWaiting_18)
    goto <bb 13>; [50.00%]
  else
    goto <bb 24>; [50.00%]

  <bb 13> [local count: 3584225]:
  # DEBUG BEGIN_STMT
  cTxLock_19 ={v} MEM[(struct Queue_t *)xQueue_15(D)].cTxLock;
  # DEBUG cTxLock => cTxLock_19
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _5 = uxMessagesWaiting_18 + 1;
  MEM[(struct Queue_t *)xQueue_15(D)].uxMessagesWaiting ={v} _5;
  # DEBUG BEGIN_STMT
  if (cTxLock_19 == -1)
    goto <bb 14>; [51.12%]
  else
    goto <bb 18>; [48.88%]

  <bb 14> [local count: 1832256]:
  # DEBUG BEGIN_STMT
  _6 = MEM[(struct Queue_t *)xQueue_15(D)].xTasksWaitingToReceive.uxNumberOfItems;
  if (_6 != 0)
    goto <bb 15>; [33.00%]
  else
    goto <bb 24>; [67.00%]

  <bb 15> [local count: 604644]:
  # DEBUG BEGIN_STMT
  _7 = &MEM[(struct Queue_t *)xQueue_15(D)].xTasksWaitingToReceive;
  _8 = xTaskRemoveFromEventList (_7);
  if (_8 != 0)
    goto <bb 16>; [50.00%]
  else
    goto <bb 24>; [50.00%]

  <bb 16> [local count: 302322]:
  # DEBUG BEGIN_STMT
  if (pxHigherPriorityTaskWoken_26(D) != 0B)
    goto <bb 17>; [70.00%]
  else
    goto <bb 24>; [30.00%]

  <bb 17> [local count: 211626]:
  # DEBUG BEGIN_STMT
  *pxHigherPriorityTaskWoken_26(D) = 1;
  goto <bb 24>; [100.00%]

  <bb 18> [local count: 1751969]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  uxNumberOfTasks_22 = uxTaskGetNumberOfTasks ();
  # DEBUG uxNumberOfTasks => uxNumberOfTasks_22
  # DEBUG BEGIN_STMT
  _9 = (long unsigned int) cTxLock_19;
  if (_9 < uxNumberOfTasks_22)
    goto <bb 19>; [50.00%]
  else
    goto <bb 24>; [50.00%]

  <bb 19> [local count: 875985]:
  # DEBUG BEGIN_STMT
  if (cTxLock_19 == 127)
    goto <bb 20>; [34.00%]
  else
    goto <bb 22>; [66.00%]

  <bb 20> [local count: 297835]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 21> [local count: 30081308]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 27> [local count: 30081308]:
  goto <bb 21>; [100.00%]

  <bb 22> [local count: 578150]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  cTxLock.12_10 = (unsigned char) cTxLock_19;
  _11 = cTxLock.12_10 + 1;
  _12 = (signed char) _11;
  MEM[(struct Queue_t *)xQueue_15(D)].cTxLock ={v} _12;

  <bb 24> [local count: 6870615]:
  # xReturn_13 = PHI <1(18), 0(12), 1(17), 1(15), 1(16), 1(14), 1(22)>
  # DEBUG xReturn => xReturn_13
  # DEBUG BEGIN_STMT
  # DEBUG ulNewMaskValue => ulOriginalBASEPRI_31
  # DEBUG INLINE_ENTRY vPortSetBASEPRI
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("   msr basepri, %0 " :  : "r" ulOriginalBASEPRI_31 : "memory");
  # DEBUG ulNewMaskValue => NULL
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xReturn_13;

}


xQueueGenericSendFromISR (struct QueueDefinition * xQueue, const void * const pvItemToQueue, BaseType_t * const pxHigherPriorityTaskWoken, const BaseType_t xCopyPosition)
{
  uint32_t ulOriginalBASEPRI;
  uint32_t ulNewBASEPRI;
  const UBaseType_t uxNumberOfTasks;
  const UBaseType_t uxPreviousMessagesWaiting;
  const int8_t cTxLock;
  BaseType_t xReturn;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  struct List_t * _6;
  long int _7;
  long unsigned int _8;
  unsigned char cTxLock.10_9;
  unsigned char _10;
  signed char _11;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_14(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_14(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 27> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (pvItemToQueue_15(D) != 0B)
    goto <bb 9>; [70.00%]
  else
    goto <bb 6>; [30.00%]

  <bb 6> [local count: 7441776]:
  _1 = MEM[(struct Queue_t *)xQueue_14(D)].uxItemSize;
  if (_1 == 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 3720888]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 8> [local count: 375809640]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 30> [local count: 375809640]:
  goto <bb 8>; [100.00%]

  <bb 9> [local count: 21085031]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xCopyPosition_17(D) != 2)
    goto <bb 13>; [48.88%]
  else
    goto <bb 10>; [51.12%]

  <bb 10> [local count: 10778668]:
  _2 = MEM[(struct Queue_t *)xQueue_14(D)].uxLength;
  if (_2 == 1)
    goto <bb 13>; [34.00%]
  else
    goto <bb 11>; [66.00%]

  <bb 11> [local count: 7113921]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 12> [local count: 718505950]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 29> [local count: 718505950]:
  goto <bb 12>; [100.00%]

  <bb 13> [local count: 13971110]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortValidateInterruptPriority ();
  # DEBUG BEGIN_STMT
  # DEBUG INLINE_ENTRY ulPortRaiseBASEPRI
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("   mrs %0, basepri                                         
   mov %1, %2                                              
   cpsid i                                                 
   msr basepri, %1                                         
   isb                                                     
   dsb                                                     
   cpsie i                                                 
" : "=r" ulOriginalBASEPRI_32, "=r" ulNewBASEPRI_33 : "i" 16 : "memory");
  # DEBUG ulNewBASEPRI => ulNewBASEPRI_33
  # DEBUG ulOriginalBASEPRI => ulOriginalBASEPRI_32
  # DEBUG BEGIN_STMT
  # DEBUG ulNewBASEPRI => NULL
  # DEBUG ulOriginalBASEPRI => NULL
  # DEBUG uxSavedInterruptStatus => ulOriginalBASEPRI_32
  # DEBUG BEGIN_STMT
  _3 ={v} MEM[(struct Queue_t *)xQueue_14(D)].uxMessagesWaiting;
  _4 = MEM[(struct Queue_t *)xQueue_14(D)].uxLength;
  if (_3 < _4)
    goto <bb 15>; [33.00%]
  else
    goto <bb 14>; [67.00%]

  <bb 14> [local count: 9360644]:
  if (xCopyPosition_17(D) == 2)
    goto <bb 15>; [34.00%]
  else
    goto <bb 26>; [66.00%]

  <bb 15> [local count: 7793085]:
  # DEBUG BEGIN_STMT
  cTxLock_19 ={v} MEM[(struct Queue_t *)xQueue_14(D)].cTxLock;
  # DEBUG cTxLock => cTxLock_19
  # DEBUG BEGIN_STMT
  uxPreviousMessagesWaiting_20 ={v} MEM[(struct Queue_t *)xQueue_14(D)].uxMessagesWaiting;
  # DEBUG uxPreviousMessagesWaiting => uxPreviousMessagesWaiting_20
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  prvCopyDataToQueue (xQueue_14(D), pvItemToQueue_15(D), xCopyPosition_17(D));
  # DEBUG BEGIN_STMT
  if (cTxLock_19 == -1)
    goto <bb 16>; [51.12%]
  else
    goto <bb 20>; [48.88%]

  <bb 16> [local count: 3983825]:
  # DEBUG BEGIN_STMT
  _5 = MEM[(struct Queue_t *)xQueue_14(D)].xTasksWaitingToReceive.uxNumberOfItems;
  if (_5 != 0)
    goto <bb 17>; [33.00%]
  else
    goto <bb 26>; [67.00%]

  <bb 17> [local count: 1314662]:
  # DEBUG BEGIN_STMT
  _6 = &MEM[(struct Queue_t *)xQueue_14(D)].xTasksWaitingToReceive;
  _7 = xTaskRemoveFromEventList (_6);
  if (_7 != 0)
    goto <bb 18>; [50.00%]
  else
    goto <bb 26>; [50.00%]

  <bb 18> [local count: 657331]:
  # DEBUG BEGIN_STMT
  if (pxHigherPriorityTaskWoken_27(D) != 0B)
    goto <bb 19>; [70.00%]
  else
    goto <bb 26>; [30.00%]

  <bb 19> [local count: 460132]:
  # DEBUG BEGIN_STMT
  *pxHigherPriorityTaskWoken_27(D) = 1;
  goto <bb 26>; [100.00%]

  <bb 20> [local count: 3809260]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  uxNumberOfTasks_23 = uxTaskGetNumberOfTasks ();
  # DEBUG uxNumberOfTasks => uxNumberOfTasks_23
  # DEBUG BEGIN_STMT
  _8 = (long unsigned int) cTxLock_19;
  if (_8 < uxNumberOfTasks_23)
    goto <bb 21>; [50.00%]
  else
    goto <bb 26>; [50.00%]

  <bb 21> [local count: 1904630]:
  # DEBUG BEGIN_STMT
  if (cTxLock_19 == 127)
    goto <bb 22>; [34.00%]
  else
    goto <bb 24>; [66.00%]

  <bb 22> [local count: 647574]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 23> [local count: 65404992]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 28> [local count: 65404992]:
  goto <bb 23>; [100.00%]

  <bb 24> [local count: 1257056]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  cTxLock.10_9 = (unsigned char) cTxLock_19;
  _10 = cTxLock.10_9 + 1;
  _11 = (signed char) _10;
  MEM[(struct Queue_t *)xQueue_14(D)].cTxLock ={v} _11;

  <bb 26> [local count: 13323536]:
  # xReturn_12 = PHI <1(20), 0(14), 1(19), 1(17), 1(18), 1(16), 1(24)>
  # DEBUG xReturn => xReturn_12
  # DEBUG BEGIN_STMT
  # DEBUG ulNewMaskValue => ulOriginalBASEPRI_32
  # DEBUG INLINE_ENTRY vPortSetBASEPRI
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("   msr basepri, %0 " :  : "r" ulOriginalBASEPRI_32 : "memory");
  # DEBUG ulNewMaskValue => NULL
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xReturn_12;

}


xQueueGenericSend (struct QueueDefinition * xQueue, const void * const pvItemToQueue, TickType_t xTicksToWait, const BaseType_t xCopyPosition)
{
  struct TimeOut_t xTimeOut;
  BaseType_t xYieldRequired;
  BaseType_t xEntryTimeSet;
  long unsigned int _1;
  long unsigned int _2;
  long int _3;
  long unsigned int xTicksToWait.3_4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  struct List_t * _8;
  long int _9;
  long unsigned int xTicksToWait.4_10;
  signed char _11;
  signed char _12;
  long int _13;
  long int _14;
  struct List_t * _15;
  long unsigned int xTicksToWait.5_16;
  long int _17;
  BaseType_t _21;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG xEntryTimeSet => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_29(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_29(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 42> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (pvItemToQueue_30(D) != 0B)
    goto <bb 9>; [70.00%]
  else
    goto <bb 6>; [30.00%]

  <bb 6> [local count: 7441776]:
  _1 = MEM[(struct Queue_t *)xQueue_29(D)].uxItemSize;
  if (_1 == 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 3720888]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 8> [local count: 375809640]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 45> [local count: 375809640]:
  goto <bb 8>; [100.00%]

  <bb 9> [local count: 21085031]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xCopyPosition_32(D) != 2)
    goto <bb 13>; [48.88%]
  else
    goto <bb 10>; [51.12%]

  <bb 10> [local count: 10778668]:
  _2 = MEM[(struct Queue_t *)xQueue_29(D)].uxLength;
  if (_2 == 1)
    goto <bb 13>; [34.00%]
  else
    goto <bb 11>; [66.00%]

  <bb 11> [local count: 7113921]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 12> [local count: 718505950]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 44> [local count: 718505950]:
  goto <bb 12>; [100.00%]

  <bb 13> [local count: 13971110]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = xTaskGetSchedulerState ();
  if (_3 != 0)
    goto <bb 14>; [50.00%]
  else
    goto <bb 15>; [50.00%]

  <bb 14> [local count: 10478333]:
  # xEntryTimeSet_36 = PHI <0(13), 0(15)>
  goto <bb 19>; [100.00%]

  <bb 15> [local count: 6985555]:
  xTicksToWait.3_4 = xTicksToWait;
  if (xTicksToWait.3_4 == 0)
    goto <bb 14>; [50.00%]
  else
    goto <bb 16>; [50.00%]

  <bb 16> [local count: 3492778]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 17> [local count: 352770509]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 43> [local count: 352770509]:
  goto <bb 17>; [100.00%]

  <bb 18> [local count: 88799889]:
  # xEntryTimeSet_18 = PHI <xEntryTimeSet_20(38), xEntryTimeSet_20(39), xEntryTimeSet_20(37)>

  <bb 19> [local count: 99278222]:
  # xEntryTimeSet_19 = PHI <xEntryTimeSet_36(14), xEntryTimeSet_18(18)>
  # DEBUG xEntryTimeSet => xEntryTimeSet_19
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _5 ={v} MEM[(struct Queue_t *)xQueue_29(D)].uxMessagesWaiting;
  _6 = MEM[(struct Queue_t *)xQueue_29(D)].uxLength;
  if (_5 < _6)
    goto <bb 21>; [2.75%]
  else
    goto <bb 20>; [97.25%]

  <bb 20> [local count: 96548070]:
  if (xCopyPosition_32(D) == 2)
    goto <bb 21>; [2.75%]
  else
    goto <bb 27>; [97.25%]

  <bb 21> [local count: 5385224]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  xYieldRequired_57 = prvCopyDataToQueue (xQueue_29(D), pvItemToQueue_30(D), xCopyPosition_32(D));
  # DEBUG xYieldRequired => xYieldRequired_57
  # DEBUG BEGIN_STMT
  _7 = MEM[(struct Queue_t *)xQueue_29(D)].xTasksWaitingToReceive.uxNumberOfItems;
  if (_7 != 0)
    goto <bb 22>; [33.00%]
  else
    goto <bb 24>; [67.00%]

  <bb 22> [local count: 1777124]:
  # DEBUG BEGIN_STMT
  _8 = &MEM[(struct Queue_t *)xQueue_29(D)].xTasksWaitingToReceive;
  _9 = xTaskRemoveFromEventList (_8);
  if (_9 != 0)
    goto <bb 23>; [50.00%]
  else
    goto <bb 26>; [50.00%]

  <bb 23> [local count: 888562]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT
  goto <bb 26>; [100.00%]

  <bb 24> [local count: 3608100]:
  # DEBUG BEGIN_STMT
  if (xYieldRequired_57 != 0)
    goto <bb 25>; [50.00%]
  else
    goto <bb 26>; [50.00%]

  <bb 25> [local count: 1804050]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  # DEBUG BEGIN_STMT

  <bb 26> [local count: 5385224]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 41>; [100.00%]

  <bb 27> [local count: 93892998]:
  # DEBUG BEGIN_STMT
  xTicksToWait.4_10 = xTicksToWait;
  if (xTicksToWait.4_10 == 0)
    goto <bb 28>; [2.75%]
  else
    goto <bb 29>; [97.25%]

  <bb 28> [local count: 2582058]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 41>; [100.00%]

  <bb 29> [local count: 91310940]:
  # DEBUG BEGIN_STMT
  if (xEntryTimeSet_19 == 0)
    goto <bb 30>; [33.00%]
  else
    goto <bb 31>; [67.00%]

  <bb 30> [local count: 30132610]:
  # DEBUG BEGIN_STMT
  vTaskInternalSetTimeOutState (&xTimeOut);
  # DEBUG BEGIN_STMT
  # DEBUG xEntryTimeSet => 1

  <bb 31> [local count: 91310940]:
  # xEntryTimeSet_20 = PHI <xEntryTimeSet_19(29), 1(30)>
  # DEBUG xEntryTimeSet => xEntryTimeSet_20
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  vTaskSuspendAll ();
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _11 ={v} MEM[(struct Queue_t *)xQueue_29(D)].cRxLock;
  if (_11 == -1)
    goto <bb 32>; [34.00%]
  else
    goto <bb 33>; [66.00%]

  <bb 32> [local count: 31045720]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_29(D)].cRxLock ={v} 0;

  <bb 33> [local count: 91310940]:
  # DEBUG BEGIN_STMT
  _12 ={v} MEM[(struct Queue_t *)xQueue_29(D)].cTxLock;
  if (_12 == -1)
    goto <bb 34>; [34.00%]
  else
    goto <bb 35>; [66.00%]

  <bb 34> [local count: 31045720]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xQueue_29(D)].cTxLock ={v} 0;

  <bb 35> [local count: 91310940]:
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  _13 = xTaskCheckForTimeOut (&xTimeOut, &xTicksToWait);
  if (_13 == 0)
    goto <bb 36>; [97.25%]
  else
    goto <bb 40>; [2.75%]

  <bb 36> [local count: 88799889]:
  # DEBUG BEGIN_STMT
  _14 = prvIsQueueFull (xQueue_29(D));
  if (_14 != 0)
    goto <bb 37>; [50.00%]
  else
    goto <bb 39>; [50.00%]

  <bb 37> [local count: 44399945]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _15 = &MEM[(struct Queue_t *)xQueue_29(D)].xTasksWaitingToSend;
  xTicksToWait.5_16 = xTicksToWait;
  vTaskPlaceOnEventList (_15, xTicksToWait.5_16);
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_29(D));
  # DEBUG BEGIN_STMT
  _17 = xTaskResumeAll ();
  if (_17 == 0)
    goto <bb 38>; [50.00%]
  else
    goto <bb 18>; [50.00%]

  <bb 38> [local count: 22199972]:
  # DEBUG BEGIN_STMT
  MEM[(volatile uint32_t *)3758157060B] ={v} 268435456;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("dsb" :  :  : "memory");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__("isb");
  goto <bb 18>; [100.00%]

  <bb 39> [local count: 44399945]:
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_29(D));
  # DEBUG BEGIN_STMT
  xTaskResumeAll ();
  goto <bb 18>; [100.00%]

  <bb 40> [local count: 2511051]:
  # DEBUG BEGIN_STMT
  prvUnlockQueue (xQueue_29(D));
  # DEBUG BEGIN_STMT
  xTaskResumeAll ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 41> [local count: 10478333]:
  # _21 = PHI <1(26), 0(28), 0(40)>
  xTimeOut ={v} {CLOBBER};
  return _21;

}


xQueueCreateCountingSemaphore (const UBaseType_t uxMaxCount, const UBaseType_t uxInitialCount)
{
  struct QueueDefinition * xHandle;

  <bb 2> [local count: 12731866]:
  # DEBUG BEGIN_STMT
  # DEBUG xHandle => 0B
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (uxMaxCount_2(D) != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 3> [local count: 6365933]:
  if (uxMaxCount_2(D) >= uxInitialCount_3(D))
    goto <bb 4>; [33.00%]
  else
    goto <bb 6>; [67.00%]

  <bb 4> [local count: 2100758]:
  # DEBUG BEGIN_STMT
  xHandle_6 = xQueueGenericCreate (uxMaxCount_2(D), 0, 2);
  # DEBUG xHandle => xHandle_6
  # DEBUG BEGIN_STMT
  if (xHandle_6 != 0B)
    goto <bb 5>; [70.00%]
  else
    goto <bb 8>; [30.00%]

  <bb 5> [local count: 1470531]:
  # DEBUG BEGIN_STMT
  MEM[(struct Queue_t *)xHandle_6].uxMessagesWaiting ={v} uxInitialCount_3(D);
  # DEBUG BEGIN_STMT
  goto <bb 8>; [100.00%]

  <bb 6> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 7> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 1073741824]:
  goto <bb 7>; [100.00%]

  <bb 8> [local count: 2100758]:
  # DEBUG xHandle => xHandle_6
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xHandle_6;

}


xQueueTakeMutexRecursive (struct QueueDefinition * xMutex, TickType_t xTicksToWait)
{
  BaseType_t xReturn;
  struct tskTaskControlBlock * _1;
  struct tskTaskControlBlock * _2;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;

  <bb 2> [local count: 22847857]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxMutex => xMutex_9(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xMutex_9(D) == 0B)
    goto <bb 3>; [46.53%]
  else
    goto <bb 5>; [53.47%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 12216749]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct Queue_t *)xMutex_9(D)].u.xSemaphore.xMutexHolder;
  _2 = xTaskGetCurrentTaskHandle ();
  if (_1 == _2)
    goto <bb 6>; [46.53%]
  else
    goto <bb 7>; [53.47%]

  <bb 6> [local count: 5684453]:
  # DEBUG BEGIN_STMT
  _3 = MEM[(struct Queue_t *)xMutex_9(D)].u.xSemaphore.uxRecursiveCallCount;
  _4 = _3 + 1;
  MEM[(struct Queue_t *)xMutex_9(D)].u.xSemaphore.uxRecursiveCallCount = _4;
  # DEBUG BEGIN_STMT
  # DEBUG xReturn => 1
  goto <bb 9>; [100.00%]

  <bb 7> [local count: 6532296]:
  # DEBUG BEGIN_STMT
  xReturn_14 = xQueueSemaphoreTake (xMutex_9(D), xTicksToWait_12(D));
  # DEBUG xReturn => xReturn_14
  # DEBUG BEGIN_STMT
  if (xReturn_14 != 0)
    goto <bb 8>; [50.00%]
  else
    goto <bb 9>; [50.00%]

  <bb 8> [local count: 3266148]:
  # DEBUG BEGIN_STMT
  _5 = MEM[(struct Queue_t *)xMutex_9(D)].u.xSemaphore.uxRecursiveCallCount;
  _6 = _5 + 1;
  MEM[(struct Queue_t *)xMutex_9(D)].u.xSemaphore.uxRecursiveCallCount = _6;

  <bb 9> [local count: 12216749]:
  # xReturn_7 = PHI <1(6), xReturn_14(7), xReturn_14(8)>
  # DEBUG xReturn => xReturn_7
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xReturn_7;

}


xQueueGiveMutexRecursive (struct QueueDefinition * xMutex)
{
  BaseType_t xReturn;
  struct tskTaskControlBlock * _1;
  struct tskTaskControlBlock * _2;
  long unsigned int _3;
  long unsigned int _4;

  <bb 2> [local count: 22847857]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxMutex => xMutex_7(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xMutex_7(D) == 0B)
    goto <bb 3>; [46.53%]
  else
    goto <bb 5>; [53.47%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 12216749]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct Queue_t *)xMutex_7(D)].u.xSemaphore.xMutexHolder;
  _2 = xTaskGetCurrentTaskHandle ();
  if (_1 == _2)
    goto <bb 6>; [30.00%]
  else
    goto <bb 9>; [70.00%]

  <bb 6> [local count: 3665025]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = MEM[(struct Queue_t *)xMutex_7(D)].u.xSemaphore.uxRecursiveCallCount;
  _4 = _3 + 4294967295;
  MEM[(struct Queue_t *)xMutex_7(D)].u.xSemaphore.uxRecursiveCallCount = _4;
  # DEBUG BEGIN_STMT
  if (_4 == 0)
    goto <bb 7>; [33.00%]
  else
    goto <bb 9>; [67.00%]

  <bb 7> [local count: 1209458]:
  # DEBUG BEGIN_STMT
  xQueueGenericSend (xMutex_7(D), 0B, 0, 0);

  <bb 9> [local count: 12216749]:
  # xReturn_5 = PHI <1(7), 0(5), 1(6)>
  # DEBUG xReturn => xReturn_5
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xReturn_5;

}


xQueueGetMutexHolderFromISR (struct QueueDefinition * xSemaphore)
{
  struct tskTaskControlBlock * pxReturn;
  int8_t * _1;

  <bb 2> [local count: 35437027]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xSemaphore_3(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 8> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 24805919]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct Queue_t *)xSemaphore_3(D)].pcHead;
  if (_1 == 0B)
    goto <bb 6>; [51.20%]
  else
    goto <bb 7>; [48.80%]

  <bb 6> [local count: 12700631]:
  # DEBUG BEGIN_STMT
  pxReturn_5 = MEM[(struct Queue_t *)xSemaphore_3(D)].u.xSemaphore.xMutexHolder;
  # DEBUG pxReturn => pxReturn_5

  <bb 7> [local count: 24805919]:
  # pxReturn_2 = PHI <pxReturn_5(6), 0B(5)>
  # DEBUG pxReturn => pxReturn_2
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return pxReturn_2;

}


xQueueGetMutexHolder (struct QueueDefinition * xSemaphore)
{
  struct tskTaskControlBlock * pxReturn;
  int8_t * _1;

  <bb 2> [local count: 22847857]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG pxSemaphore => xSemaphore_3(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xSemaphore_3(D) == 0B)
    goto <bb 3>; [46.53%]
  else
    goto <bb 5>; [53.47%]

  <bb 3> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 8> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 12216749]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  vPortEnterCritical ();
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct Queue_t *)xSemaphore_3(D)].pcHead;
  if (_1 == 0B)
    goto <bb 6>; [51.20%]
  else
    goto <bb 7>; [48.80%]

  <bb 6> [local count: 6254976]:
  # DEBUG BEGIN_STMT
  pxReturn_6 = MEM[(struct Queue_t *)xSemaphore_3(D)].u.xSemaphore.xMutexHolder;
  # DEBUG pxReturn => pxReturn_6

  <bb 7> [local count: 12216749]:
  # pxReturn_2 = PHI <pxReturn_6(6), 0B(5)>
  # DEBUG pxReturn => pxReturn_2
  # DEBUG BEGIN_STMT
  vPortExitCritical ();
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return pxReturn_2;

}


xQueueCreateMutex (const uint8_t ucQueueType)
{
  struct QueueDefinition * xNewQueue;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG uxMutexLength => 1
  # DEBUG uxMutexSize => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  xNewQueue_4 = xQueueGenericCreate (1, 0, ucQueueType_2(D));
  # DEBUG xNewQueue => xNewQueue_4
  # DEBUG BEGIN_STMT
  prvInitialiseMutex (xNewQueue_4);
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return xNewQueue_4;

}


prvInitialiseMutex (struct Queue_t * pxNewQueue)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  if (pxNewQueue_2(D) != 0B)
    goto <bb 3>; [53.47%]
  else
    goto <bb 4>; [46.53%]

  <bb 3> [local count: 574129753]:
  # DEBUG BEGIN_STMT
  pxNewQueue_2(D)->u.xSemaphore.xMutexHolder = 0B;
  # DEBUG BEGIN_STMT
  pxNewQueue_2(D)->pcHead = 0B;
  # DEBUG BEGIN_STMT
  pxNewQueue_2(D)->u.xSemaphore.uxRecursiveCallCount = 0;
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  xQueueGenericSend (pxNewQueue_2(D), 0B, 0, 0);

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  return;

}


prvInitialiseNewQueue (const UBaseType_t uxQueueLength, const UBaseType_t uxItemSize, uint8_t * pucQueueStorage, const uint8_t ucQueueType, struct Queue_t * pxNewQueue)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (uxItemSize_2(D) == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  pxNewQueue_4(D)->pcHead = pxNewQueue_4(D);
  goto <bb 5>; [100.00%]

  <bb 4> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  pxNewQueue_4(D)->pcHead = pucQueueStorage_5(D);

  <bb 5> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  pxNewQueue_4(D)->uxLength = uxQueueLength_8(D);
  # DEBUG BEGIN_STMT
  pxNewQueue_4(D)->uxItemSize = uxItemSize_2(D);
  # DEBUG BEGIN_STMT
  xQueueGenericReset (pxNewQueue_4(D), 1);
  # DEBUG BEGIN_STMT
  pxNewQueue_4(D)->ucQueueType = ucQueueType_12(D);
  # DEBUG BEGIN_STMT
  return;

}


xQueueGenericCreate (const UBaseType_t uxQueueLength, const UBaseType_t uxItemSize, const uint8_t ucQueueType)
{
  uint8_t * pucQueueStorage;
  struct Queue_t * pxNewQueue;
  __complex__ long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  unsigned int _4;

  <bb 2> [local count: 11587039]:
  # DEBUG BEGIN_STMT
  # DEBUG pxNewQueue => 0B
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (uxQueueLength_6(D) != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 3> [local count: 5793519]:
  _1 = .MUL_OVERFLOW (uxItemSize_7(D), uxQueueLength_6(D));
  _2 = IMAGPART_EXPR <_1>;
  if (_2 == 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 4> [local count: 2896760]:
  _3 = uxQueueLength_6(D) * uxItemSize_7(D);
  if (_3 <= 4294967215)
    goto <bb 5>; [33.00%]
  else
    goto <bb 7>; [67.00%]

  <bb 5> [local count: 955931]:
  # DEBUG BEGIN_STMT
  # DEBUG xQueueSizeInBytes => _3
  # DEBUG BEGIN_STMT
  _4 = _3 + 80;
  pxNewQueue_10 = pvPortMalloc (_4);
  # DEBUG pxNewQueue => pxNewQueue_10
  # DEBUG BEGIN_STMT
  if (pxNewQueue_10 != 0B)
    goto <bb 6>; [53.47%]
  else
    goto <bb 9>; [46.53%]

  <bb 6> [local count: 511136]:
  # DEBUG BEGIN_STMT
  # DEBUG pucQueueStorage => pxNewQueue_10
  # DEBUG BEGIN_STMT
  pucQueueStorage_11 = pxNewQueue_10 + 80;
  # DEBUG pucQueueStorage => pucQueueStorage_11
  # DEBUG BEGIN_STMT
  prvInitialiseNewQueue (uxQueueLength_6(D), uxItemSize_7(D), pucQueueStorage_11, ucQueueType_12(D), pxNewQueue_10);
  goto <bb 9>; [100.00%]

  <bb 7> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 8> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 1073741824]:
  goto <bb 8>; [100.00%]

  <bb 9> [local count: 955931]:
  # DEBUG pxNewQueue => pxNewQueue_10
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  return pxNewQueue_10;

}


xQueueGenericReset (struct QueueDefinition * xQueue, BaseType_t xNewQueue)
{
  BaseType_t D.7432;
  long unsigned int _1;
  __complex__ long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;

  <bb 2> [local count: 18188380]:
  # DEBUG BEGIN_STMT
  # DEBUG xReturn => 1
  # DEBUG BEGIN_STMT
  # DEBUG pxQueue => xQueue_6(D)
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (xQueue_6(D) == 0B)
    goto <bb 3>; [30.00%]
  else
    goto <bb 5>; [70.00%]

  <bb 3> [local count: 5456514]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 4> [local count: 551107857]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 551107857]:
  goto <bb 4>; [100.00%]

  <bb 5> [local count: 12731866]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = MEM[(struct Queue_t *)xQueue_6(D)].uxLength;
  if (_1 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 6> [local count: 6365933]:
  _3 = MEM[(struct Queue_t *)xQueue_6(D)].uxItemSize;
  _2 = .MUL_OVERFLOW (_3, _1);
  _4 = IMAGPART_EXPR <_2>;
  if (_4 == 0)
    goto <bb 7>; [33.00%]
  else
    goto <bb 8>; [67.00%]

  <bb 7> [local count: 2100758]:
  _11 = xQueueGenericReset.part.0 (xQueue_6(D), xNewQueue_8(D));
  return _11;

  <bb 8> [local count: 10631108]:
  # DEBUG xReturn => NULL
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" cpsid i " :  :  : "memory");

  <bb 9> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 11> [local count: 1073741824]:
  goto <bb 9>; [100.00%]

}


